
<table>
    <tr><th>ID</th><th>Name</th><th>Address</th><th>Capacity</th><th>Current Volume</th></tr>
    <tr *ngFor="let warehouse of warehouseList; let i = index">
        <td>{{ warehouse.id }}</td>
        <td> <input type="text" [(ngModel)]="warehouse.name"/> </td>
        <td> <input type="text" [(ngModel)]="warehouse.address"/> </td>
        <td> <input type="number" [(ngModel)]="warehouse.capacity"/> </td>
        <td> <input type="number" [(ngModel)]="warehouse.volume"/> </td>
        <td> <button (click)="onUpdateSinlgeWarehouse(warehouse)">Update</button> </td>
        <td> <button (click)="onDelete(warehouse, i)">Delete</button> </td>
        <td> <button (click)="showInventory(warehouse)">Show Inventory</button> </td>
    </tr>
</table>

<br/>


<app-warehouse-form (warehousesUpdated)="onUpdate()" ></app-warehouse-form>

<br/>
<section [hidden]="hideItems" >
    <app-warehouse-inventory  [warehouse]="warehouseClicked" (inventoryDeleted)="hideItems=true"></app-warehouse-inventory>
</section>