
<ul class="flex-container">
    <li class="flex-item">
        <table class="table">
            <thead class="thead-dark">
                <tr><th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Current Volume</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let warehouse of warehouseList; let i = index">
                    <td> <input type="text" [(ngModel)]="warehouse.name"/> </td>
                    <td> <input type="text" [(ngModel)]="warehouse.address"/> </td>
                    <td> <input type="number" step="0.01" [(ngModel)]="warehouse.capacity"/> </td>
                    <td> <input type="number" step="0.01" [(ngModel)]="warehouse.volume"/> </td>
                    <td> <button type="button" pButton label="Update" (click)="onUpdateSinlgeWarehouse(warehouse)"></button> </td>
                    <td> <button type="button" pButton label="Delete"(click)="onDelete(warehouse, i)"></button> </td>
                    <td> <button type="button" pButton label="Inventory" (click)="showInventory(warehouse)"></button> </td>
                </tr>
            </tbody>
            
        </table>
    </li>

    <li class="flex-item">
        <app-warehouse-form (warehousesUpdated)="onUpdate()" ></app-warehouse-form>
    </li>
</ul>
            

       
            <section [hidden]="hideItems" >
                <app-warehouse-inventory  [warehouse]="warehouseClicked" (inventoryDeleted)="hideItems=true"></app-warehouse-inventory>
            </section>
