<form (ngSubmit)="save(itemFromForm)">
    <h1>Add new item</h1>
    <div class="form-group" >
        <label for="name">Name: </label>
        <input class="form-control" type="text" name="name" [(ngModel)]="itemFromForm.name"/>
    </div>
    <div class="form-group" >
        <label for="address">Description: </label>
        <input class="form-control" type="text" name="address" [(ngModel)]="itemFromForm.description"/>
    </div>
    <div class="form-group" >
        <label for="size">Size: </label>
        <input class="form-control" type="number" name="size" [(ngModel)]="itemFromForm.size"/>
    </div>
    <div class="form-group" >
        <label for="quantity"> Quantity: </label>
        <input class="form-control" type="number" name="quantity" [(ngModel)]="inventoryFromForm.quantity"/>
    </div>

    <div class="form-group">
        <label for="loaction">Location: </label>
    <input type="text"  class="form-control" name="location" [(ngModel)]="inventoryFromForm.location"/>
    </div>

    <br>
    <input type="submit" value="Submit"/>
</form>


<br><br><br>



<h1>Add existing item</h1>
<div class="form-group" >
    <label for="items">Item: </label>
    <select class="form-control"  name="items" (change)="changeSelectedItem($event)">
        <option *ngFor="let item of items" [value]="item.id" name="items">
        {{ item.name }}
        </option>
    </select>
</div>
<div class="form-group" >
    <label for="quantity">Quantity: </label>
<input class="form-control" type="number" name="quantity" [(ngModel)]="inventoryFromFormExisting.quantity"/>
</div>

<br>
<button (click)="add()">Submit</button>