<nav class="navbar navbar-expand-lg ">
    <a href="#" class="navbar-brand h1">Warehouse Manager</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/warehouse-list']">List Warehouses</a>  </li>
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/item-list']">List All Items</a>  </li>
        <li class="nav-item"> <a class="nav-link active" [routerLink]="['/inventory-list']">Complete Inventory</a> </li> 
    </div>
    
</nav>

<section>
    <router-outlet></router-outlet>
</section>

<br><br><br><br><br><br><br><br><br><br>


<button type="button" pButton label="PrimeNG"></button>