<div class="container">
    <li>
        <h1>Inventory of warehouse: {{warehouse.name}}</h1>
        <table class="styled-table">
            <thead>
                <tr><th>Name</th><th>Description</th><th>Quantity</th><th>Location</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemList; let i = index">
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.itemDescription }}</td>
                    <td> <input class="input" type="number" [(ngModel)]="item.quantity"/> </td>
                    <td> <input class="input" type="string" [(ngModel)]="item.location"/> </td>

                    <td> <button pButton type="button"  class="p-button-secondary p-button-raised p-button-sm"  (click)="onUpdateInventory(item)">Update</button> </td>
                    <td> <button pButton type="button"  class="p-button-secondary p-button-raised p-button-sm"  (click)="onDelete(item, i)">Delete</button> </td>
                </tr>
            </tbody>
        </table>
        <button (click)="deleteAll()">Delete all items</button>
    </li>
    
    <li>
        <app-inventory-form [warehouse]="warehouse" (inventoryAdded)="ngOnChanges()"></app-inventory-form>
    </li>
    
</div>