<table>
    <tr><th>ID</th><th>Name</th><th>Description</th><th>Size</th></tr>
    <tr *ngFor="let item of itemList">
        <td>{{ item.id }}</td>
        <td> <input type="text" [(ngModel)]="item.name"/> </td>
        <td> <input type="text" [(ngModel)]="item.description"/> </td>
        <td> <input type="number" [(ngModel)]="item.size"/> </td>
        <td> <button (click)="onChangeItem(item)">Update</button> </td>
    </tr>
</table>

<br/>

<app-item-form (itemsUpdated)="onUpdate()" ></app-item-form>